.Info {
    width: 17%;
    margin: 10px;
    padding: 5px;

    border: 3px solid slategrey;
    border-radius: 20px;

    font-size: 12px;
    text-align: center;

    position: relative;
}

.Info img {
    max-width: 100%;
    border-radius: 10px;
}

.Info h3 {
    padding: 0 5px 0 5px;
}

.Info p {
    padding: 2px;
    border: 2px solid lightslategrey;
    border-radius: 15px;
}

.Info button {
    border: none;
}