.Details {
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    background-color: darkseagreen;
    width: 60%;

    position: fixed;
    top: 4%;
    left: 20%;
}
.Details > button{
    text-align: end;
}