.Details {
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    background-color: darkseagreen;
    width: 60%;

    position: fixed;
    top: 4%;
    left: 20%;
}
.Details > button{
    padding: 5px 8px 5px 8px;
}
.Details button:hover{
    padding: 10px 15px 10px 15px;
    background-color: cornflowerblue;
    color: snow;
}