.Form {
    text-align: center;
    margin: 15px 0 10px 0;
}

.Form button, input {
    border-radius: 10px;
    font-family: cursive;
}

.Form button {
    cursor: pointer;
}

.Form button:hover {
    color: snow;
    background-color: cornflowerblue;
}

.Flex {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}