.App {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: medium;
    font-family: cursive;
    font-weight: bold;
    height: calc(100%);
    transition: all .5s;
}
button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    border-radius: 10px;
    float: right;
    transition: all .5s;
}