.Carousel {
    margin: 10px;
}
.Carousel img{
    /*height: 600px;*/
    margin: 5px auto 0;
    display: flex;
    justify-content: center;
}
.Carousel img{
    border-radius: 50px;
}
.Carousel button {
    border: none;
}